page-more {

    .head {
        height: 14vh;
        background: #6354cb;
        display: table;
        width: 100%;
        p{
            // margin-right: 11em;
            font-size: 18px;
            color: #fff;
            display: inline-block;
            vertical-align: middle;

        }
        .mdl{
            vertical-align: middle;
            display: table-cell;
            padding: 0 18px;
        }   
             ion-icon.icon.icon-md.ion-md-menu,ion-icon.icon.icon-ios.ion-ios-menu{
            margin-right: 10px;
            font-size: 26px;
            color: #fff;
            vertical-align: middle;
            // margin-top: 12px;
            // float:right;

        }
        ion-icon.icon.icon-md ,ion-icon.icon.icon-ios{
            margin-right: 10px;
            font-size: 26px;
            color: #222;
            vertical-align: middle;
            margin-bottom: 0;
        }
    }

    .toolbar-background {
        background-color: #f3f2f7;
        height: 243px;
      }
    .toolbar-content.toolbar-content-md {
        text-align: center;
        padding: 2em 0 1em 0;
    }
    .toolbar-md {
        position: relative;
        padding: 0px;
    }
    .toolbar-ios {
        position: relative;
        padding: 0px;
    }
    a.helpimg {
        top: 1em;
        right: 0em;
        position: absolute;
        color: #fff;
    }
    button.mybutton.disable-hover.button.button-md.button-default.button-default-md,button.mybutton.disable-hover.button.button-ios.button-default.button-default-ios {
        background: transparent;
        box-shadow: none;
    }
    svg#editButton {
        height: 15px;
        width: 15px;
        fill: #6b708d;
    }
    svg#language {
        height: 20px;
        width: 20px;
        background: #f3f2f7;
        fill: #6b708d;
    }
    button.buttonSvg {
        background: transparent;
        float: right;
        margin-right: 3em;
    }
    button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button,button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
        color: #6b708d;
    }
    .scroll-content {
        padding: 0 !important;
    }
    p.detailName {
        margin: 0;
        color: #222;
        font-size: 22px;
        font-weight: 400;
        text-align: center;
    }
    svg#contact {
       fill:#6e57ce;
        margin-bottom: 4px;
    }
    .item-block {
        min-height: 54px;
        height: 45px;
    }
    .profileContent {
        background: #f8f8f8;
        // background: linear-gradient(to top, #7357cf, #6367be, #6961c4, #5d6fb5);
        height: 81px;
        line-height: 81px;
    }
    ion-item.item.item-block.item-md ,ion-item.item.item-block.item-ios{
        padding-left: 0;
    }
    .pContent {
        margin-left: 2em;
        margin-bottom: 13px;
    }
    p.cName {
        font-size: 15px;
        color: rgba(84, 87, 98, 0.72);
    }
    ion-icon.icon.icon-md,ion-icon.icon.icon-ios {
        margin-bottom: 0px;
        margin-right: 5px;
        font-size: 20px;
        vertical-align: baseline;
    }
    p.cNumber {
        color: #525662;
        font-size: 14px;
    }
    ion-icon.icon.icon-md.ion-md-copy.item-icon ,ion-icon.icon.icon-ios.ion-ios-copy.item-icon{
        float: right;
    }
    button.aContact {
        color: #6b708d;
        border: 1px solid #6b708d;
        background: transparent;
        border-radius: 3px;
        height: 42px;
        width: 130px;
    }
    ion-grid.paddingL.grid {
        padding: 4em 2em;
    }
    button.sharea {
        color: #6b708d;
        border: 1px solid #6b708d;
        background: transparent;
        border-radius: 3px;
        height: 42px;
        width: 130px;
    }
    ion-icon.icon.icon-md.ion-md-share,ion-icon.icon.icon-ios.ion-ios-share{
        color: #8376f9;
    }
    ion-icon.icon.icon-md.ion-md-person,ion-icon.icon.icon-ios.ion-ios-person {
        color: #8376f9;
    }
    svg#moreSvg {
        height: 28px;
        width: 30px;
        vertical-align: middle;
        margin-right: 8px;
    }
    // icon css
    ion-icon.icon.icon-md.ion-md-notifications-outline.item-icon ,ion-icon.icon.icon-ios.ion-ios-notifications-outline.item-icon {
        color: #9679db;
    }
    ion-icon.icon.icon-md.ion-md-paper.item-icon  ,  ion-icon.icon.icon-ios.ion-ios-paper.item-icon {
        color: #a0c2be;
    }
    ion-icon.icon.icon-md.ion-md-home.item-icon,ion-icon.icon.icon-ios.ion-ios-home.item-icon {
        color: #ef94c8;
    }
    ion-icon.icon.icon-md.ion-md-help-circle.item-icon ,ion-icon.icon.icon-ios.ion-ios-help-circle.item-icon{
        color: #d98136;
    }
    ion-icon.icon.icon-md.ion-md-call.item-icon,ion-icon.icon.icon-ios.ion-ios-call.item-icon {
        color: rgba(77, 85, 170, 0.7);
    }
    ion-icon.icon.icon-md.ion-md-cube.item-icon ,ion-icon.icon.icon-ios.ion-ios-cube.item-icon{
        color: #9acd329e;
    }
        // icon css
        ion-icon.icon.icon-md.ion-md-power, ion-icon.icon.icon-ios.ion-ios-power {
            vertical-align: middle;
        }

    .fa{
        display:inline-block;
    }
    .contentDetail {
        padding: 0 2em;
    }
    span.notify {
        // background: red;
        // color: #fff;
        // height: 25px;
        // width: 25px;
        // border-radius: 50%;
        // padding-left: 8px;
        // padding-top: 4px;
    }
}
