page-pairdevice {
//     .toolbar-background {
//         background: #6354cb;
//       }
//       ion-content.content.content-md,ion-content.content.content-ios {
//         background: #fff;
//     }
//       .bluePair {
//         text-align: center;
//         position: relative;
//     }
//       svg#fingerTap {
//         width: 100px;
//         height: 100px;
//         border-radius: 50px;
//         background: #fff;
//         padding: 1em;
//         margin-top: 4em;
//         fill: #6354cb;
//         border: 2px solid #6354cb;
//     }
//     .scroll-content {
//         padding: 56px 0 0 0 !important;
//         margin-top: 0px !important;
//     }
//     .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
//         background-image: none !important;
//     }
//     .header-ios::after, .tabs-ios[tabsPlacement="top"] > .tabbar::after, .footer-ios::before, .tabs-ios[tabsPlacement="bottom"] > .tabbar::before {
//         background-image: none !important;
//     }
   
//     a.help {
//         top: 1.2em;
//         right: 2em;
//         position: absolute;
//         color: #fff;
//         font-size: 15px;
//     }
//     ion-row.centerPlace.row {
//         text-align: center;
//     }
//     p.device {
//         color: #222;
//         margin-top: 2em;
//         padding-bottom: 3em;
//     }
//     button.pairbutton.disable-hover.button.button-md.button-default.button-default-md,button.pairbutton.disable-hover.button.button-ios.button-default.button-default-ios {
//         background-color: #fff;
//         padding: 22px 45px;
//         text-transform: capitalize;
//         color: #6354cb;
//         border: 1px solid #6354cb;
//         box-shadow: none;
//     }
//     button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
//         color: #fff;
//     }
//     button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
//         color: #fff;
//     }
//     ion-list.listView.list.list-md,ion-list.listView.list.list-ios{
//         padding: 1em 1em 4em 1em;
//     }
//     .list-md .item-input:last-child,.list-ios .item-input:last-child {
//         background: transparent;
//     }
//    ion-label#lbl-15 {
//     color: #fff;
//     }
//     ion-label {
//         color: #fff !important;
//     }

//     ion-input.input.input-md,ion-input.input.input-ios {
//         color: #222;
//     }
   
//       .list-md .item-input.input-has-focus:last-child,.list-ios .item-input.input-has-focus:last-child {
//         border-bottom-color: #fff;
//         box-shadow: none !important;
//       }
      
   
//       .head {
    
//         height: 12vh;
//     background: #6354cb;
//     display: table;
//     width: 100%;
//     position: absolute;
//     top: 0;
//         p{
//             font-size: 18px;
//             color: #fff;
//             display: inline-block;
//             vertical-align: middle;

//         }
//         .mdl{
//             vertical-align: middle;
//             display: table-cell;
//             padding: 14px;
//             ion-icon.icon.icon-md.ion-md-arrow-round-back {
//                 color: gray !important;
//             }
//         }   
//              ion-icon.icon.icon-md.ion-md-menu,ion-icon.icon.icon-ios.ion-ios-menu{
//             margin-right: 7px;
//             font-size: 26px;
//             color: #222;
//             vertical-align: middle;
//             margin-top: 12px;
//             float:right;
//         }
//         ion-icon.icon.icon-md,ion-icon.icon.icon-ios {
//             margin-right: 10px;
//             font-size: 26px;
//             color: #222;
//             vertical-align: middle;
//         }
//     }
   
//     i.fa.fa-chevron-left {
//         margin-right: 10px;
//         color: #fff;
//     }  
//     ion-label {
//         color: #6354cb !important;
//     }
//     ion-item.item.item-block.item-md.item-input.item-label-floating :focus, ion-item.item.item-block.item-ios.item-input.item-label-floating :focus {
//         border-bottom: 1px solid #9E9E9E !important;
//         width: 72% !important;
//         margin: auto !important;
//     }



.toolbar-background {
    background: linear-gradient(to right, #7357cf, #6367be,#6961c4,#5d6fb5);
  }
  .bluePair {
    background: linear-gradient(to right, #7357cf, #6367be, #6961c4, #5d6fb5);
    text-align: center;
    position: relative;
    padding-top: 56%;
    height: 100%;
}
  #fingerTap {
    width: 100px;
    height: 100px;
    /* border-radius: 50px; */
    background: #fff;
    // padding: 0.3em;
    fill: #736ebd;
    margin-top: 10px;
}
.scroll-content {
    padding: 0px 0 0 0 !important;
    margin-top: 0px !important;
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none !important;
}
.header-ios::after, .tabs-ios[tabsPlacement="top"] > .tabbar::after, .footer-ios::before, .tabs-ios[tabsPlacement="bottom"] > .tabbar::before {
  background-image: none !important;
}
// .toolbar-content.toolbar-content-md {
//     text-align: center;
//     padding: 9em 0 1em 0;
//     position: relative;
// }
a.help {
    top: 1.2em;
    right: 2em;
    position: absolute;
    color: #fff;
    font-size: 15px;
}
ion-row.centerPlace.row {
    text-align: center;
}
p.device {
    color: #fff;
    margin-top: 6em;
    padding-bottom: 1.5em;
    font-size: 15px;
    font-weight: 600;
    z-index: 999999;
}
button.pairbutton.disable-hover.button.button-md.button-default.button-default-md , button.pairbutton.disable-hover.button.button-ios.button-default.button-default-ios {
    background-color: #5c67f8;
    padding: 22px 45px;
    text-transform:capitalize;
}
button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
    color: #fff;
}
button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
  color: #fff;
}
ion-list.listView.list.list-md , ion-list.listView.list.list-ios {
    padding: 1em 1em 4em 1em;
}
.containers {
    position: relative;
    display: block;
    width: 120px;
    margin: 0px auto;
    
   &.delay1 {
      animation: waves 2.5s linear;
      animation-delay: 1s;
    }
    
    & .delay2 {
      animation: waves infinite linear 2s forwards,
    }
    
    & .delay3 {
      animation: waves infinite linear 2.3s forwards;
    }
    
    & .delay4 {
      animation: waves infinite linear 3.9s forwards;
    }
  }
  
  .svg-box {
    position: relative;
    z-index: 10;
    background: #fff;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .svg-box:hover {
    animation: bloop 1s linear;
  }
  
  .circle {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #0194c7;
    margin: 10px;
    transition: 5s ease;
    position: absolute;
    top: 0px
  }
 
  @-webkit-keyframes waves {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    
    100% {
      transform: scale(4);
      opacity: 0;
    }
  }
  
  @keyframes bloop {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, .95, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }

  i.fa.fa-chevron-left {
    position: absolute;
    z-index: 999;
    color: #fff;
    top: 20px;
    left: 20px;
    font-size: 18px;
}
}
