page-pairdevice {
    .toolbar-background {
        background: linear-gradient(to right, #7357cf, #6367be,#6961c4,#5d6fb5);
      }
      .bluePair {
        background: linear-gradient(to right, #7357cf, #6367be,#6961c4,#5d6fb5);
        text-align: center;
        position: relative;
    }
      svg#fingerTap {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background: #fff;
        padding: 1em;
        margin-top: 2em;
        fill: #736ebd;
    }
    .scroll-content {
        padding: 56px 0 0 0 !important;
        margin-top: 0px !important;
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        background-image: none !important;
    }
    // .toolbar-content.toolbar-content-md {
    //     text-align: center;
    //     padding: 9em 0 1em 0;
    //     position: relative;
    // }
    a.help {
        top: 1.2em;
        right: 2em;
        position: absolute;
        color: #fff;
        font-size: 15px;
    }
    ion-row.centerPlace.row {
        text-align: center;
    }
    p.device {
        color: #fff;
        margin-top: 2em;
        padding-bottom: 3em;
    }
    button.pairbutton.disable-hover.button.button-md.button-default.button-default-md {
        background-color: #5c67f8;
        padding: 22px 45px;
        text-transform:capitalize;
    }
    button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
        color: #fff;
    }
    ion-list.listView.list.list-md{
        padding: 1em 1em 4em 1em;
    }

}
