page-editprofile {
    .toolbar-background {
        background-color: #6354cb;
        height: 243px;
      }
    .toolbar-content.toolbar-content-md {
        text-align: center;
        padding: 24px 0 19px 0;
    } .toolbar-content.toolbar-content-ios {
        text-align: center;
        padding: 24px 0 19px 0;
    }

    .toolbar-md,.toolbar-ios {
        position: relative;
        padding: 0px;
    }
    a.helpimg {
        top: 1em;
        right: 0em;
        position: absolute;
        color: #fff;
    }
    button.mybutton.disable-hover.button.button-md.button-default.button-default-md,button.mybutton.disable-hover.button.button-ios.button-default.button-default-ios {
        background: transparent;
        box-shadow: none;
    }
    svg#language {
        height: 20px;
        width: 20px;
        background: #6355cb;
        fill: #fff;
    }
    svg#editButton {
        height: 15px;
        width: 15px;
        fill: #fff;
    }
    button.buttonSvg {
        background: transparent;
        float: left;
        padding-left: 2em;
    }
    p.name {
        width: 70px;
        height: 70px;
        border-radius: 50px;
        color: #6150c2;
        background: #dddcfe;
        font-size: 30px;
        line-height: 71px;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 12px;
    }
    p.userName {
        color: #fff;
        font-size: 19px;
        margin: 0;
        padding-bottom: 10px;
    }
    svg#pencilSvg {
        height: 40px;
        fill: #e1defd;
    }
    .scroll-content {
        padding: 0 !important;
    }
    p.userName.remove {
        color: #ffffffa6 !important;
    }
    .landscape {
        background: #6355cb;
        text-align: center;
        padding-top: 1em;
    }
    ion-item ion-icon.icon.icon-md,ion-item ion-icon.icon.icon-ios {
        padding: 0;
        margin-top: 25px;
        font-size: 23px;
        margin-right: -15px;
        color: #9093a9;
    }
    p.inputTitle {
        color: #807f8c;
        font-weight: 500;
        margin: 10px 0 0px 29px;
    }
    ion-list.mobileSp.list.list-md,ion-list.mobileSp.list.list-ios {
        padding: 1em 2em ;
    }
    .mobileSp ion-label {
        margin-top: 0;
        font-weight: 400;
        font-size: 15px;
        color: #83889e !important;
    }

    ion-item.item.item-block.item-md.item-input.item-label-floating,ion-item.item.item-block.item-ios.item-input.item-label-floating {
        padding-left: 0;
    }
    button.save.disable-hover.button.button-md.button-default.button-default-md,button.save.disable-hover.button.button-ios.button-default.button-default-ios {
        // margin-top: 2em;
        // width: 100%;
        // background: #6354cb;
        // text-transform: capitalize;
        margin-top: 2em;
        width: 100%;
        background: #fff;
        text-transform: capitalize;
        color: #222;
        border: 1px solid #222;
        border-radius: 4px;
        margin-bottom: 2em;
    }
    img.editImg {
        border: 2px solid #fff;
        padding: 10px;
        border-radius: 50%;
        height: 70px;
        width: 70px;
    }
    .dboard-userimg-div{
        background: linear-gradient(to right, #a070f8 0%, #657cfc 100%);
        width:100%;
        // height:217px;
        display: table;
        position: relative;
    }
    .dboard-userimg-div .userimg-grid{
        width:100%;
        // display: block;
        margin:0 auto;
        left:0;
        right:0;
        padding: 0 20px;
    }
    .userimg-roundplaceholder{
        width:90px;
        height:90px;
        border-radius: 50%;
        background-position: center !important;
        background-size: 50px 5px;
        margin: 0 auto;
        position: relative;
        img{
            width:100%;
            height:100%;
        }
    }

    .userimg-round{
        width:90px;
        height:90px;
        border-radius: 50%;
        // background: #ffffff url(../assets/images/user-shape.png);
        background-repeat: space !important;
        background-position: top !important;
        background-size: cover !important;
        overflow: hidden;
        margin: 0 auto;
        img{
            width:100%;
            height:100%;
        }
    }

    button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
        display: none;
    }
    i.fa.fa-chevron-left{
        float: left;
        margin-left: 3px
    }
}
