page-managedevice {
    .toolbar-background {
        background-color: #6354cb;
      }
      button.mybutton.disable-hover.button.button-md.button-default.button-default-md {
        background: transparent;
        box-shadow: none;
    }
    button.mybutton.disable-hover.button.button-ios.button-default.button-default-ios {
        background: transparent;
        box-shadow: none;
    }
    svg#editButton {
        height: 15px;
        width: 15px;
        fill: #fff;
    }
    .toolbar-title.toolbar-title-md,.toolbar-title.toolbar-title-ios {
        color: #fff;
    }
    button.managebutton.disable-hover.button.button-md.button-default.button-default-md {
        position: absolute;
        right: 0;
        bottom: -11px;
        box-shadow: none;
        background: transparent;
    }
    button.managebutton.disable-hover.button.button-ios.button-default.button-default-ios {
        position: absolute;
        right: 0;
        bottom: -11px;
        box-shadow: none;
        background: transparent;
    }
    button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
      color:#76798a;
    }
    button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
        color:#76798a;
      }
    ion-icon.icon.icon-md.ion-md-arrow-back,ion-icon.icon.icon-ios.ion-ios-arrow-back {
        margin-right: 1em;
    }
    img.pen {
        height: 32px;
        width: 32px;
    }
    svg#circle {
        height: 11px;
        width: 10px;
        fill: #6ee578;
    }
    svg#circlegrey {
        height: 11px;
        width: 10px;
        fill: #e5e5e5;
    }
    .item-inner {
        border-bottom: none !important;
    }
    hr.margino {
        margin: 0;
    }
    ion-item.manageCard.item.item-block.item-md,ion-item.manageCard.item.item-block.item-ios {
        padding: 0;
    }
    .detail ion-card-header.card-header.card-header-md,.detail ion-card-header.card-header.card-header-ios {
        padding-left: 8px;
    }
    p.manageContent {
        margin: 7px 0 0 13px;
        color: #969698;
        font-style: italic;
        font-weight: 400;
    }
    ion-icon.icon.icon-md.ion-md-trash.item-icon,ion-icon.icon.icon-ios.ion-ios-trash.item-icon {
        color: #e6e4ec;
        font-size: 26px;
        margin-bottom: 31px;
    }
    button.viewInfo.disable-hover.button.button-md.button-default.button-default-md,button.viewInfo.disable-hover.button.button-ios.button-default.button-default-ios {
        background: transparent;
        color: #6452b5;
        text-transform: capitalize;
        box-shadow: none;
    }
    button.viewInfonext.disable-hover.button.button-md.button-default.button-default-md,button.viewInfonext.disable-hover.button.button-ios.button-default.button-default-ios{
        background: transparent;
        color: #dc6871;
        text-transform: capitalize;
        box-shadow: none;
    }
    ion-card.detail.card.card-md,ion-card.detail.card.card-ios {
    box-shadow: 1px 1px 18px 1px #0000001f;
    }
    .detail ion-card-content.card-content.card-content-md,.detail ion-card-content.card-content.card-content-ios {
        padding-bottom: 0;
    }
    ion-icon.plucircle.icon.icon-md,ion-icon.plucircle.icon.icon-ios {
        height: 34px;
        width: 34px;
        position: absolute;
        right: 5em;
        bottom: -1em;
        fill: #45bbb9;
        color: #fff;
        background: #fff;
        border-radius: 23px;
        z-index: 1;
    }
    ion-navbar.toolbar.toolbar-md {
        position: relative;
    }
    ion-navbar.toolbar.toolbar-ios {
        position: relative;
    }

    .dropbtn {
        background-color: transparent;
        color: #222;
        padding: 16px;
        font-size: 16px;
        border: none;
      }
      
      .dropdown {
     display: inline-block;
        position: absolute ;
        top: 4px;
        right: 0;
    
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 0%;

      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
    //   .dropdown-content a:hover {background-color: #ddd;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
    //   .dropdown:hover .dropbtn {background-color: #3e8e41;}
    ion-item.item.item-block.item-ios.item-toggle {
        background: #f1f1f1;
    }
    ion-item.item.item-block.item-md.item-toggle {
        background: #f1f1f1;
    }
    button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
        display: none;
    }
    i.fa.fa-chevron-left {
        position: absolute;
        left: 0;
        top: 14px;
    }
    ion-title {
        margin-left: 1.5em;
    }
}
