page-verifyotp {
    #touch {
        height: 60px;
        width: 60px;
    }
    .verifyContent {
        text-align: center;
        margin: 5em 0 0 0;
    }
    p.verify {
        font-size: 21px;
        letter-spacing: 1px;
        margin-top: 2em;
        color: #4f515e;
    }
    p.subContent {
        color: #9699ad;
        text-align: center;
        padding: 0 3em;
        font-size: 13px;
        margin-bottom: 4em;
    }
    ion-grid.buttonGrid.grid {
        margin: 3em 0 9em 0;
    }
    button.verifyCode.disable-hover.button.button-md.button-default.button-default-md,button.verifyCode.disable-hover.button.button-ios.button-default.button-default-ios {
        background: #5c67f8;
        text-transform: capitalize;
        width: 100%;
        font-size: 13px;
    }
    button.resend.disable-hover.button.button-md.button-outline.button-outline-md,button.resend.disable-hover.button.button-ios.button-outline.button-outline-ios {
        color: #8286a0;
        border: 1px solid #e1e1e1;
        text-transform: capitalize;
        width: 100%;
    }
    .ftr {
        text-align: center;
        padding: 0 2em;
    }
    .ftr p {
        color: #989baf;
        font-size: 12px;
        margin: 0px 0 12px 0;
    }
    .ftr p span {
        color: #9274da;
        font-size: 13px;
        font-weight: 500;
    }
}
