page-profile {
    .p0{
        padding: 0;
    }
    .main {
        background: #f8f8f8;
        color: #6856cd;
        padding-top: 42px;
        // padding: 4vh 3vh;
        .img {    
            height: 8.5vh;
            width: 8.5vh;
          
            margin:auto;
            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                // padding: 2px;
                border: 1px solid #fff;
                margin: 7% 25%;
            }
        }
        p.name {
            margin: 0px 0 0 9%;
            font-size: 19px;
            color: #41485d;
        }
        p.sm {
            font-size: 12px;
            margin: 0;
            text-align: center;
            color: #6d58ce;
            font-weight: 600;
        }
        p.num {
            font-size: 12px;
            text-align: center;
            margin: 0;
            color: #666a88;
        }
        ion-icon.icon.icon-md.ion-md-star {
            font-size: 11px;
            margin: 0 2px;
        }
        .det {
            margin: 5px 0px;
        }
        
    }
    .toolbar-background {
        background-color: #f3f2f7;
        // #6354cb;
        height: 243px;
      }
    .toolbar-content.toolbar-content-md {
        text-align: center;
        padding: 2em 0 1em 0;
    }
    .toolbar-md {
        position: relative;
        padding: 0px;
    }
    a.helpimg {
        top: 1em;
        right: 0em;
        position: absolute;
        color: #fff;
    }
    button.mybutton.disable-hover.button.button-md.button-default.button-default-md {
        background: transparent;
        box-shadow: none;
    }
    svg#editButton {
        height: 15px;
        width: 15px;
        fill: #6b708d;
    }
    ion-card.recordCard.m1.card.card-md {
        background: #f1f1f1;   
        box-shadow: none;
    }
    ion-card.recordCard.m2.card.card-md {
        background: #f1f1f1;
        box-shadow: none;
    }
    p.name {
        // width: 60px;
        // height: 60px;
        // border-radius: 50px;
        // color: #6150c2;
        // background: #dddcfe;
        // font-size: 24px;
        // line-height: 61px;
        // margin: 0 auto;
        // padding: 0;
    }
    p.userName {
        color: #565865;
        font-size: 21px;
        margin: 0;
    }

  button.editProfile.disable-hover.button.button-md.button-default.button-default-md {
        background: transparent;
        box-shadow: none;
        height: 38px;
        width: 55px;
        vertical-align: middle;
    }
    svg#pencilSvg {
        height: 40px;
        fill: #656a88;
    }
    ion-row.firstcol.row p {
        margin: 0;
        color: #6255ca;
    }
    hr.hrLine {
        margin: 0;
    }
    ion-row.firstcol.row {
        padding: 0 1em 2em 1em;
    }
    p.numb {
        padding-bottom: 4px;
        font-size: 14px;
        font-weight: 500;
    }
    p.identity {
        font-size: 12px;
        color: #707591 !important;
    }
    button.newpair.disable-hover.button.button-md.button-outline.button-outline-md {
        font-size: 13px;
        border-radius: 5px;
        text-transform: capitalize;
        color: #60c7c2;
        border: 1px solid #60c7c2;
    }
    button.view.disable-hover.button.button-md.button-outline.button-outline-md {
        font-size: 13px;
        border-radius: 5px;
        text-transform: capitalize;
        margin-left: 10px;
        color: #7f6bc4;
        border: 1px solid #7f6bc4;
    }
    ion-icon.icon.icon-md.ion-md-add {
        margin-right: 7px;
        font-size: 19px;
    }
    ion-card-content.card-content.card-content-md {
        
        border-radius: 5px;
        padding: 4px 13px 0 13px;
        line-height: 0px;
    }
    img.pen {
        height: 37px;
        width: 37px;
    }
    svg#circle {
        height: 11px;
        width: 10px;
        fill: #6ee578;
    }
    svg#circlegrey {
        height: 11px;
        width: 10px;
        fill: #e5e5e5;
    }

    ion-card.tapCard.card.card-md .item-inner {
        margin: 0;
    }
    img.record {
        height: 40px;
        width: 40px;
        text-align: center;
        margin: 0 auto;
    }
    p.recordContent {
        margin-top: 10px;
    }
    svg#CircleDesign {
        height: 50px;
        width: 50px;
        fill: #e4e2e3;
        background: #f3f3ff;
        border-radius: 50px;
    }
    hr.margino {
        margin: 0;
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        background-image: none;
    }
    ion-content.content.content-md {
        margin-top: -3em;
        background: #fff;
    }
    .card-md{
    box-shadow:  0px 4px 18px 0px #0000001f;
    }
    ion-card.recordCard.card.card-md {
        text-align: center;
        padding: 1em 0;
        margin-bottom: 1vh !important;
    }
    .landscape {
        background: #f8f8f8;
        text-align: center;
        margin-top: 1em;
        padding-top: 4em;
    }
    ion-card.tapCard.card.card-md {
        // margin-top: -2em;
        width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
    }
    .scroll-content {
        padding: 0 !important;
    }
    svg#language {
        height: 20px;
        width: 20px;
        background: #f3f2f7;
        fill: #6b708d;
    }
    button.buttonSvg {
        background: transparent;
        float: left;
        padding-left: 2em;
    }
    .nopadd{
        padding: 0 !important;
    }
    .custompadd{
        padding: 0 5px 5px 5px;
    }
    .card-md {
        width: calc(100% - 15px);
    }
    ion-card.recordCard.m1.card.card-md {
        margin: 0 11px;
    }
    ion-card.recordCard.m2.card.card-md {
        margin: 0px 4px;
    }
    // canvas.chartjs-render-monitor {
    //     margin-left: -3em;
    //     width: 175px !important;
    //     height: 100px !important;
      
    // }

    img.records {
        width: 23px;
        margin: 23px auto 0;
    }
    p.dd {
        font-size: 12px;
        margin: 5px;
    }
    p.dd span {
        color: #969292;
        font-size: 8px;
    }
    @media only screen and (min-height: 700px){
       
    }




.canvas{
    text-align: center;
    // margin-top: 4vh;
}
    .somedata p span {
        background: #e7e4fe;
        font-size: 11px;
        margin: 0 2em;
        padding: 5px 21px;
        font-weight: 500;
        color: #6254ca;
        border-radius: 3px;
    }
    .somedata p {
        margin-bottom: 28px !important;
    }
    .somedata p span {
        background: #e7e4fe;
        font-size: 11px;
        margin: 0 2em;
        padding: 5px 21px;
        font-weight: 500;
        color: #6254ca;
        border-radius: 3px;
    }

    ion-grid.custompadd.grid svg {
        height: 35px;
        width: 35px;
        fill: #777171;
    }
    canvas.chartjs-render-monitor {
        height: 43vw !important;
        width: 85vw !important;
        margin: 16px auto !important;
    }
}
