<!--
  Generated template for the FeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>feed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content> -->
<ion-content class="animated 800s zoomIn delay-0.1s">
  <!-- <div class="head">
    <div class="mdl">
      <i class="fa fa-chevron-left" aria-hidden="true" (click)="back()"></i>
      <p>Feeds</p>
      <form id="demo-2" class="animated 800s fadeInRight delay-0.2s">
          <input type="search" name="search" placeholder="Search">
        </form>
    </div>
  </div> -->
  <div class="filter">
    <ion-item>
      <ion-input type="text" [(ngModel)]="query.search" (keyup)="search($event)" placeholder="Search Here....">
      </ion-input>
      <ion-icon item-end name="search"></ion-icon>
    </ion-item>
  </div>
  <div class="contentEvent">
    <p>Discover Nearby</p>
  </div>
  <ion-slides slidesPerView="4" #slides>

    <ion-slide *ngFor="let category of categories;let i = index" (click)="selectCategory(category._id,i+1)">
      <p class="category c{{i+1}}">

        <ion-icon ios="ios-bowtie" md="md-bowtie" item-left *ngIf='category.name=="Fashion"'></ion-icon>
        <ion-icon ios="ios-paper" md="md-paper" item-left *ngIf='category.name=="General"'></ion-icon>
        <ion-icon ios="ios-contact" md="md-contact" item-left *ngIf='category.name=="Contacts"'></ion-icon>
        <ion-icon ios="ios-calendar" md="md-calendar" item-left *ngIf='category.name=="Event"'></ion-icon>
        <ion-icon ios="ios-briefcase" md="md-briefcase" item-left *ngIf='category.name=="Business"'></ion-icon>
        <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" item-left *ngIf='category.name=="Verification"'>
        </ion-icon>
        <ion-icon ios="ios-walk" md="md-walk" item-left *ngIf='category.name=="Sports"'></ion-icon>
        <ion-icon ios="ios-cart" md="md-cart" item-left *ngIf='category.name=="Groceries"'></ion-icon>
        <ion-icon ios="ios-restaurant" md="md-restaurant" item-left *ngIf='category.name=="Restaurant"'></ion-icon>
      </p>
      <p class="categoryContent">{{category.name}}</p>
    </ion-slide>


    <!-- <ion-slide (click)="goto('general')">
      <p class="category c2">
        <ion-icon ios="ios-paper" md="md-paper"></ion-icon>
      </p>
      <p class="categoryContent">General</p>


    </ion-slide>
    <ion-slide (click)="goto('event')">
      <p class="category c3">
        <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
      </p>
      <p class="categoryContent">Event</p>

    </ion-slide>
    <ion-slide (click)="goto('business')">
      <p class="category c4">
        <ion-icon ios="ios-briefcase" md="md-briefcase"></ion-icon>
      </p>
      <p class="categoryContent">Business</p>

    </ion-slide>
    <ion-slide (click)="goto('sports')">
      <p class="category c5">
        <ion-icon ios="ios-walk" md="md-walk"></ion-icon>
      </p>
      <p class="categoryContent">Sports</p>

    </ion-slide>

    <ion-slide (click)="goto('groceries')">
      <p class="category c6">
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </p>
      <p class="categoryContent">Groceries</p>


    </ion-slide> -->
    <!-- <ion-slide id="2" (click)="goto('contact')">
      <p class="category c7"><ion-icon ios="ios-contact" md="md-contact" class="contact"></ion-icon></p>
      <p class="categoryContent">Contact</p>


    </ion-slide> -->

  </ion-slides>

  <ion-card class="adv-map">
    <div style="position: relative">
      <!-- <div class="cardtitle">Sat-Sun</div> -->

      <!-- <img src="../../assets/images/map.png" class="mapImage"> -->
      <div id="google-map" class="mapImage"></div>
      <ion-item class="maplace">
        <!-- <ion-icon color="subtle" large item-start name='information-circle'></ion-icon> -->
        <!-- <h2>Museum of Information</h2> -->
        <p>{{location}}</p>
      </ion-item>
      <ion-fab right top (tap)="getCurrentPosition()">
        <button ion-fab color="secondary">
          <ion-icon name="pin"></ion-icon>
        </button>
      </ion-fab>
    </div>

  </ion-card>




  <!-- <ion-grid class="imageCard">
      <ion-row>
          <div class="card-background-page">
        <ion-col>
            <ion-card>
                <img src="https://www.lisaadelhi.com/wp-content/uploads/2016/08/Lisaa-fashion-event-featured-image.jpg"/>
                <div class="card-title">23 Aug 2019</div>
              </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <img src="http://www.mediacominc.com/wp/wp-content/uploads/2014/03/business-events.jpg"/>
                <div class="card-title">Today - 19:52</div>
              </ion-card>
        </ion-col>
        </div>
      </ion-row>
      <ion-row>
        <div class="card-background-page">
      <ion-col>
          <ion-card>
              <img src="http://www.stage-preparation-bretagne.com/wp-content/uploads/2014/02/bandeau-evenementiel.jpg"/>
              <div class="card-title">20 Sep 2019</div>
            </ion-card>
      </ion-col>
      <ion-col>
          <ion-card>
              <img src="https://cdn.skyhinews.com/wp-content/uploads/sites/9/2019/05/Shop-off-6-group-1024x630.jpg"/>
              <div class="card-title">Tomorrow - 17:52</div>
            </ion-card>
      </ion-col>
      </div>
    </ion-row>
    <ion-row>
      <div class="card-background-page">
    <ion-col>
        <ion-card>
            <img src="https://www.mch-group.com/-/media/mch-group/Images/Content/News/Blog/2017/2017-04/mch-group-live-marketing-aktivierung.jpg"/>
            <div class="card-title">Today - 15:30</div>
          </ion-card>
    </ion-col>
    <ion-col>
        <ion-card>
            <img src="../../assets/images/e2.jpeg"/>
            <div class="card-title">Today - 15:30</div>
          </ion-card>
    </ion-col>
    </div>
  </ion-row>
    </ion-grid> -->



  <ion-grid class="imageCard">
    <div class="card-background-page">

      <!-- Google Nearby Output  -->
      <ion-row *ngFor="let feed of googleNearby">

        <ion-col col-6>
          <ion-card (click)="showNavigator(feed)">
            <img *ngIf="feed.photo != ''" src={{feed.photo}} />
            <img *ngIf="feed.photo == ''"
              src="https://www.mediacominc.com/wp/wp-content/uploads/2014/03/business-events.jpg" />
            <div class="card-title">{{feed.types[0]}}</div>
            <p class="card-subtitle">{{feed?.name}}</p>
          </ion-card>
        </ion-col>
        <!-- <ion-col col-6>
              <ion-card (click)="goto('business')">
                <img src="https://www.mediacominc.com/wp/wp-content/uploads/2014/03/business-events.jpg" />
                <div class="card-title">Today - 19:52</div>
                <p class="card-subtitle">Business</p>
              </ion-card>
            </ion-col> -->
      </ion-row>

      <!-- TapTap Nearby Output -->
      <ion-row *ngFor="let feed of feeds">

        <ion-col col-6>
          <ion-card (click)="goto(feed)">
            <img src="https://api.taptap.org.uk/file/getImage?imageId={{feed.imageId[0]}}&select=thumbnail" />
            <div class="card-title">{{feed.createdDate}}</div>
            <p class="card-subtitle">{{feed?.categoryId?.name}}</p>
          </ion-card>
        </ion-col>
        <!-- <ion-col col-6>
          <ion-card (click)="goto('business')">
            <img src="https://www.mediacominc.com/wp/wp-content/uploads/2014/03/business-events.jpg" />
            <div class="card-title">Today - 19:52</div>
            <p class="card-subtitle">Business</p>
          </ion-card>
        </ion-col> -->
      </ion-row>
      <!-- <ion-row>

        <ion-col col-6>
          <ion-card (click)="goto('sports')">
            <img src="https://www.stage-preparation-bretagne.com/wp-content/uploads/2014/02/bandeau-evenementiel.jpg" />
            <div class="card-title">20 Sep 2019</div>
            <p class="card-subtitle">Sports</p>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card (click)="goto('groceries')">
            <img src="https://cdn.skyhinews.com/wp-content/uploads/sites/9/2019/05/Shop-off-6-group-1024x630.jpg" />
            <div class="card-title">Tomorrow - 17:52</div>
            <p class="card-subtitle">Groceries</p>
          </ion-card>
        </ion-col>
      </ion-row> -->
      <!-- <ion-row> -->

      <!-- <ion-col col-6>
          <ion-card (click)="goto('general')">
            <img
              src="https://www.mch-group.com/-/media/mch-group/Images/Content/News/Blog/2017/2017-04/mch-group-live-marketing-aktivierung.jpg" />
            <div class="card-title">Today - 15:30</div>
            <p class="card-subtitle">General</p>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card (click)="goto('event')">
            <img src="../../assets/images/e2.jpeg" />
            <div class="card-title">Today - 15:30</div>
            <p class="card-subtitle">Event</p>
          </ion-card>
        </ion-col> -->
      <!-- </ion-row> -->
    </div>
  </ion-grid>
</ion-content>

<!-- hiddent button to show direction -->
<button id="direction" (click)="showDirection()" style="display:none">direction</button>