<ion-content >
  <div class="filter">
    <ion-item>
      <ion-input type="text" [(ngModel)]="query.search" (keyup)="search($event)" placeholder="Search Here....">
      </ion-input>
      <ion-icon item-end name="search"></ion-icon>
    </ion-item>
  </div>
  <div class="contentEvent">
    <p>Discover Nearby</p>
  </div>
  <ion-slides slidesPerView="4" #slides>

    <ion-slide *ngFor="let category of categories;let i = index" (tap)="selectCategory(category._id,i+1)">
      <p class="category c{{i+1}}">

        <ion-icon ios="ios-bowtie" md="md-bowtie" item-left *ngIf='category.name=="Fashion"'></ion-icon>
        <ion-icon ios="ios-paper" md="md-paper" item-left *ngIf='category.name=="General"'></ion-icon>
        <ion-icon ios="ios-contact" md="md-contact" item-left *ngIf='category.name=="Contacts"'></ion-icon>
        <ion-icon ios="ios-calendar" md="md-calendar" item-left *ngIf='category.name=="Event"'></ion-icon>
        <ion-icon ios="ios-briefcase" md="md-briefcase" item-left *ngIf='category.name=="Business"'></ion-icon>
        <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" item-left *ngIf='category.name=="Verification"'>
        </ion-icon>
        <ion-icon ios="ios-walk" md="md-walk" item-left *ngIf='category.name=="Sports"'></ion-icon>
        <ion-icon ios="ios-cart" md="md-cart" item-left *ngIf='category.name=="Groceries"'></ion-icon>
        <ion-icon ios="ios-restaurant" md="md-restaurant" item-left *ngIf='category.name=="Restaurant"'></ion-icon>
      </p>
      <p class="categoryContent">{{category.name}}</p>
    </ion-slide>

  </ion-slides>

  <ion-card class="adv-map">
    <div style="position: relative">
      <ion-item class="maplace">
        <p>{{location}}</p>
      </ion-item>
      <ion-fab right top (tap)="getCurrentPosition()">
        <button ion-fab color="secondary">
          <ion-icon name="pin"></ion-icon>
        </button>
      </ion-fab>
    </div>

  </ion-card>



  <div class="contentEvent" text-center>
    <p style="margin-left:0">TapTap Feed</p>
  </div>



  <ion-grid class="imageCard">
    <div class="card-background-page">

      <!-- TapTap Nearby Output -->
      <ion-row>

        <ion-col col-6 *ngFor="let feed of feeds">
          <ion-card (tap)="goto(feed)">
            <img src="https://api.taptap.org.uk/file/getImage?imageId={{feed.imageId[0]}}&select=thumbnail" />
            <div class="card-title">{{feed?.product?.storeId?.companyId?.discount}} % discount</div>
            <p class="card-subtitle">{{feed?.categoryId?.name}}</p>
          </ion-card>
        </ion-col>

      </ion-row>


    </div>
  </ion-grid>


</ion-content>

<!-- hiddent button to show direction -->