page-businesslist {
    .head {
        height: 12vh;
        background: #6354cb;
        display: table;
        width: 100%;
        margin-bottom: 5px;
        p{
            // margin-right: 11em;
            font-size: 18px;
            color: #fff;
            display: inline-block;
            vertical-align: middle;

        }
        .mdl{
            vertical-align: middle;
            display: table-cell;
            padding: 0 18px;
        }   
             ion-icon.icon.icon-md.ion-md-menu,ion-icon.icon.icon-ios.ion-ios-menu{
            margin-right: 7px;
            font-size: 26px;
            color: #222;
            vertical-align: middle;
            margin-top: 12px;
            float:right;

        }
        ion-icon.icon.icon-md,ion-icon.icon.icon-ios {
            margin-right: 10px;
            font-size: 26px;
            color: #222;
            vertical-align: middle;
            margin-bottom: 0;
        }
    }

    .toolbar-background {
        background-color: #f3f2f7;
        height: 243px;
      }
    .toolbar-content.toolbar-content-md,.toolbar-content.toolbar-content-ios {
        text-align: center;
        padding: 2em 0 1em 0;
    }
    .toolbar-md,.toolbar-ios {
        position: relative;
        padding: 0px;
    }
    a.helpimg {
        top: 1em;
        right: 0em;
        position: absolute;
        color: #fff;
    }
    button.mybutton.disable-hover.button.button-md.button-default.button-default-md {
        background: transparent;
        box-shadow: none;
    }
    button.mybutton.disable-hover.button.button-ios.button-default.button-default-ios {
        background: transparent;
        box-shadow: none;
    }
    .et {
        border-bottom: 1px solid #f8f8f8;
        padding: 1em 0 2em 0;
        background: #fff;
    }
    p.datePadding {
        text-align: center;
        font-size: 10px;
        color: gray;
        background-color: #f3f0f0d1;
        // background: red;
        padding: 4px 0;
    }
    img.imgStart {
    //     height: 50px;
    // width: 50px;
    // vertical-align: middle;
    // float: left;
    // margin: 0 1em;
    height: 55px;
    width: 55px;
    vertical-align: middle;
    float: left;
    margin: 0 1em;
    border: 2px solid #4f4f4f;
    border-radius: 50%;
    padding: 2px;
    }
    p.lorem {
        margin: 8px 0 2px;
        overflow: inherit;
        font-size: 17px;
        line-height: normal;
        text-overflow: inherit;
        color: #212121;
    }
    .item-inner {
        border-bottom: 0px !important;
    }
    ion-item.et.item.item-block.item-md,ion-item.et.item.item-block.item-ios {
        border-bottom: 1px solid #f3f3f3;
    }
    .scroll-content {
        padding: 0 !important;
    }
    ion-icon.icon.icon-md.ion-md-briefcase,ion-icon.icon.icon-ios.ion-ios-briefcase {
        color: #fff !important;
    }
    p.lorema {
        margin: 0;
    }
}
