<ion-content>


  <div [style.display]="keyboards? 'none':'block'">

    <div class="main">

      <i (click)="notifications()" class="fa fa-bell animated 800s wobble delay-0.5s" aria-hidden="true"></i><span
        (click)="notifications()">{{notiCount}}</span>

      <ion-grid class="p0">
        <ion-row>

          <ion-col col-3>
            <div class="img" (click)="detail()">
              <img *ngIf=!profileImage src="assets/images/avatar.png" class="animated 800s pulse delay-0.5s" alt="">
              <img *ngIf=profileImage src="{{profileImage}}" class="animated 800s pulse delay-0.5s" alt="">

            </div>
          </ion-col>
          <ion-col col-9>
            <div class="profile">
              <p class="name">{{userName}}</p>
              <ion-grid>
                <ion-row>

                  <ion-col col-4>

                    <p class="sm"> {{uid}}</p>
                    <p class="num">UID</p>
                  </ion-col>
                  <ion-col col-4>

                    <p class="sm">
                      <ion-icon name="star"></ion-icon>
                      {{favourite}}
                    </p>
                    <p class="num">Favourite</p>
                  </ion-col>
                  <ion-col col-4>


                    <p class="sm">
                      <ion-icon ios="ios-pricetags" md="md-pricetags"></ion-icon>
                      {{devicecount}}
                    </p>
                    <p class="num">Devices</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
    <div class="paddi animated 800s zoomIn delay-0.3s">

      <!-- <ion-toolbar> -->
      <ion-segment [(ngModel)]="slideselected" color="dark">
        <ion-segment-button value="home" (click)="selectedTab(0)">
          <!-- <ion-icon name="camera"></ion-icon> -->
          Tap chart
        </ion-segment-button>
        <ion-segment-button value="history" (click)="selectedTab(1)">
          <!-- <ion-icon name="bookmark"></ion-icon> -->
          tap history
        </ion-segment-button>

      </ion-segment>
      <!-- </ion-toolbar> -->
    </div>
  </div>
  <ion-slides #slider (ionSlideDidChange)="slideChanged()" class="animated 800s zoomIn delay-0.3s">
    <ion-slide>
      <div class="canvas">
        <!-- <canvas #doughnutCanvas></canvas> -->
        <div class="circle" *ngIf="isblanck">
          No Tap Data
        </div>
        <div *ngIf="!isblanck" id="container"></div>


        <div class="somedata">
          <p><span>Today {{todaysTap}}</span><span>Total {{totalcount}}</span></p>
        </div>

      </div>

      <button class="btn" (click)="tapItem()">
        <!-- <ion-icon name="add"></ion-icon> -->
        Tap new items
      </button>
    </ion-slide>




    <ion-slide>

      <div *ngIf="isblanck==true">

        <p class="nohis">No tap history</p>
      </div>

      <div *ngIf="isblanck==false">


        <div class="filter">
          <ion-item>
            <ion-input type="text" placeholder="Search" [(ngModel)]="str" (keyup)="search()" (focus)=focus()
              (blur)=blur()></ion-input>
            <ion-icon item-end name="search"></ion-icon>
          </ion-item>
        </div>

        <div class="top">
          <div class="section">
            <div class="scroll animated 800s zoomIn delay-0.3s" >
              <!-- <div>
                <p class="day">dummy data</p>

                <ion-item (click)="gotoDetails('Verification')">

                  <ion-icon ios="ios-bowtie" md="md-bowtie" item-left></ion-icon>

                  Varification
                  <ion-badge item-end>10:00 Am GMT</ion-badge>
                </ion-item>

              </div> -->
              <div *ngFor="let item of tapItems">
                <p class="day">{{item.createdDate | date:'dd/MM/yyyy'}}</p>

                <ion-item (click)="gotoDetails(item)">
                  <!-- <ion-icon name="apps" class="merchantIcon"></ion-icon> -->

                  <ion-icon ios="ios-bowtie" md="md-bowtie" item-left *ngIf='item.purpose=="Fashion"'></ion-icon>
                  <ion-icon ios="ios-paper" md="md-paper" item-left *ngIf='item.purpose=="General"'></ion-icon>
                  <ion-icon ios="ios-calendar" md="md-calendar" item-left *ngIf='item.purpose=="Event"'></ion-icon>
                  <ion-icon ios="ios-briefcase" md="md-briefcase" item-left *ngIf='item.purpose=="Business"'></ion-icon>
                  <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" item-left
                    *ngIf='item.purpose=="Verification"'></ion-icon>
                  <ion-icon ios="ios-walk" md="md-walk" item-left *ngIf='item.purpose=="Sports"'></ion-icon>
                  <ion-icon ios="ios-cart" md="md-cart" item-left *ngIf='item.purpose=="Groceries"'></ion-icon>


                  <ion-icon ios="ios-warning" md="md-warning" item-left *ngIf='item.purpose=="lost"'></ion-icon>

                  <ion-icon ios="ios-contact" md="md-contact" item-left *ngIf='item.purpose=="Contact_info"'></ion-icon>



                  <ion-icon ios="ios-contact" md="md-contact" class="contact" *ngIf="item.purpose=='Contacts'">
                  </ion-icon>

                  <span *ngIf="item.purpose!='lost' && item.purpose!='Contact_info'">{{item.purpose}}</span>
                  <span *ngIf="item.purpose=='lost'">Lost or Stolen</span>
                  <span *ngIf="item.purpose=='Contact_info'">{{item.deviceInfo?.device_title}}</span>

                  <ion-badge item-end>{{item.createdDate | date:'HH:mm'}} GMT</ion-badge>
                </ion-item>

              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>


  </ion-slides>






</ion-content>