page-help {
    .head {
        height: 14vh;
        background: #6354cb;
        display: table;
        width: 100%;
        p{
            // margin-right: 11em;
            font-size: 18px;
            color: #fff;
            display: inline-block;
            vertical-align: middle;

        }
        .mdl{
            vertical-align: middle;
            display: table-cell;
            padding: 14px;
            ion-icon.icon.icon-md.ion-md-arrow-round-back {
                color: gray !important;
            }
        }   
             ion-icon.icon.icon-md.ion-md-menu{
            margin-right: 10px;
            font-size: 26px;
            color: #fff;
            vertical-align: middle;
            margin-top: 12px;
            float:right;
        }
        ion-icon.icon.icon-md {
            margin-right: 10px;
            font-size: 26px;
            color: #222;
            vertical-align: middle;
        }
    }

    h3.h3 {
        font-size: 16px;
        color: #222;
        // color: #6354cb;
    }
   ion-item:nth-child(even) h3.h3 {
        color: #6354cb;
    }
    ion-item:nth-child(even) ion-icon.icon.icon-md.icon-md-success.item-icon.ion-md-arrow-dropright{
        color: #6354cb; 
    }
    .des {
        font-size: 14px;
        color: #0000009e;
        margin: 6px 0;
        transition: 1s ease-in;
    }
    ion-label.label.label-md {
        margin: 0.5em 0;
    }
    .mdl i.fa.fa-chevron-left {
        margin-right: 10px;
        font-size: 18px;
        color: #fff;
        vertical-align: middle;
    }
    ion-item.item.item-block.item-md {
        background: #fff;
        margin-bottom: 1em;
        box-shadow:0 1px 11px -4px #5c67f8;
        border-radius: 5px;
    }
    ion-list.list.list-md {
        padding: 1em 1em;
    }
    .scroll-content {
        padding: 0 !important;
    }
}
