<!--
  Generated template for the FeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>feed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content> -->
<ion-content class="animated 800s zoomIn delay-0.1s">
  <div class="head">
    <div class="mdl">
      <!-- <ion-icon name="arrow-round-back" (click)="back()"></ion-icon> -->
      <i class="fa fa-chevron-left" aria-hidden="true" (click)="back()"></i>

      <!-- <ion-icon name="paper" item-left></ion-icon> -->
      <p>Feeds</p>
      <!-- <ion-icon ios="ios-menu" md="md-menu"></ion-icon> -->
    </div>
  </div>
  <!-- <div class="inputs">
    <input type="text" name="search">
    <img src="../../assets/images/filter.png" alt="">

  </div> -->

  <!-- 
  <div class="arrowbuttons">

    <ul class="list-inline sileUl">
      <li> <button type="submit" float-left ion-button color="primary" class="btnPrev" (click)="prev()">
          <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        </button>
      </li>
      <li>
        <ion-slides loop slidesPerView="3" #slides>

          <ion-slide *ngFor="let feed of feeds">
            <div class="card">
              <img src={{feed.product.image}} alt="">
              <p class="title">{{feed.product.name}}</p>
              <p class="details"> {{feed.product.description}} </p> -->
  <!-- | slice:0:5 -->
  <!-- <div class="buttons">
                <button>
                  <ion-icon name="heart"></ion-icon>
                </button>
                <button>
                  <ion-icon name="eye"></ion-icon><span>{{feed.favourite}}</span>
                </button>
              </div>
            </div>
          </ion-slide>


        </ion-slides>
      </li>
      <li> <button type="submit" float-right ion-button color="primary" class="btnNext" (click)="next()">
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </div> -->
  <div class="at">
    showing result for {{selected_category.name}} ({{feeds.length}})


    <div class="filter">
      <div class="dropdown">
        Sort By <i class="fa fa-filter dropbtn"></i>
        <div class="dropdown-content">
          <a click="showall()">All</a>
          <a *ngFor="let category of categories" (click)="searchfeeds(category._id,category)">{{category.name}}</a>
        </div>
      </div>
    </div>

  </div>

  <div *ngFor="let feed of feeds">
    <p class="datePadding" *ngIf="feed.date">{{feed.date}}</p>
    <ion-card *ngIf="feed.product">

      <ion-item>
        <ion-avatar item-start>
          <img *ngIf="!feed.adminId.imageId" src="assets/images/p4.png" class="titleImg">
          <img *ngIf="feed.adminId.imageId"
            src="https://api.taptap.org.uk/file/getImage?imageId={{feed.adminId.imageId._id}}"
            class="titleImg" />
        </ion-avatar>
        <h2>{{feed.adminId.name}}</h2>
        <p>{{feed.time}}</p>
        <ion-icon *ngIf="feed.liked" name="heart" (click)="dislike(feed._id)"></ion-icon>
        <ion-icon name="heart-outline" *ngIf="!feed.liked" (click)="like(feed._id)"></ion-icon>

      </ion-item>

      <img *ngIf="feed.categoryId.name == 'Fashion'" (click)="detailsPage(feed)"
        src="https://api.taptap.org.uk/file/getImage?imageId={{feed.product.image}}"
        class="feedImg">

      <ion-card-content *ngIf="feed.categoryId.name == 'Fashion'" (click)="detailsPage(feed)">
        <p><strong>Title:</strong>&nbsp;{{feed.product.name}}</p>
        <p><strong>Description:</strong>&nbsp;{{feed.product.description}} </p>
        <p><strong>Category:</strong> &nbsp;{{feed.categoryId.name}}</p>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div class="ft">{{(feed.users)?feed.users.length:0}} Likes</div>
        </button>
      </ion-card-content>

      <img *ngIf="feed.categoryId.name == 'General'"
        src="https://api.taptap.org.uk/file/getImage?imageId={{feed.product.image}}"
        class="feedImg" (click)="detailsPage(feed)">
      <ion-card-content *ngIf="feed.categoryId.name == 'General'" (click)="detailsPage(feed)">
        <p><strong>Title:</strong>&nbsp;{{feed.product.weblink}}</p>
        <p><strong>Description:</strong>&nbsp;{{feed.product.description}} </p>
        <p><strong>Category:</strong> &nbsp;{{feed.categoryId.name}}</p>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div class="ft">12 Likes</div>
        </button>
      </ion-card-content>

      <img *ngIf="feed.categoryId.name == 'Contacts'" (click)="detailsPage(feed)"
        src="https://api.taptap.org.uk/file/getImage?imageId={{feed.product.profile_pic}}"
        class="feedImg">
      <ion-card-content *ngIf="feed.categoryId.name == 'Contacts'" (click)="detailsPage(feed)">
        <p><strong>Title:</strong>&nbsp;{{feed.product.name}}</p>
        <p><strong>Description:</strong>&nbsp;{{feed.product.company}} </p>
        <p><strong>Category:</strong> &nbsp;{{feed.categoryId.name}}</p>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div class="ft">12 Likes</div>
        </button>
      </ion-card-content>

      <img *ngIf="feed.categoryId.name == 'Event'" (click)="detailsPage(feed)"
        src="https://api.taptap.org.uk/file/getImage?imageId={{feed.product.imageId}}"
        class="feedImg">
      <ion-card-content *ngIf="feed.categoryId.name == 'Event'" (click)="detailsPage(feed)">
        <p><strong>Title:</strong>&nbsp;{{feed.product.event_title}}</p>
        <p><strong>Description:</strong>&nbsp;{{feed.product.description}} </p>
        <p><strong>Category:</strong> &nbsp;{{feed.categoryId.name}}</p>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div class="ft">12 Likes</div>
        </button>
      </ion-card-content>


      <img *ngIf="feed.categoryId.name == 'Groceries'" (click)="detailsPage(feed)"
        src="https://api.taptap.org.uk/file/getImage?imageId={{feed.product.imageId}}"
        class="feedImg">
      <ion-card-content *ngIf="feed.categoryId.name == 'Groceries'" (click)="detailsPage(feed)">
        <p><strong>Title:</strong>&nbsp;{{feed.product.product_name}}</p>
        <p><strong>Description:</strong>&nbsp;{{feed.product.description}} </p>
        <p><strong>Category:</strong> &nbsp;{{feed.categoryId.name}}</p>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div class="ft">12 Likes</div>
        </button>
      </ion-card-content>

      <img *ngIf="feed.categoryId.name == 'Sports'" (click)="detailsPage(feed)"
        src="https://api.taptap.org.uk/file/getImage?imageId={{feed.product.imageId}}"
        class="feedImg">
      <ion-card-content *ngIf="feed.categoryId.name == 'Sports'" (click)="detailsPage(feed)">
        <p><strong>Title:</strong>&nbsp;{{feed.product.sport_name}}</p>
        <p><strong>Description:</strong>&nbsp;{{feed.product.description}} </p>
        <p><strong>Category:</strong> &nbsp;{{feed.categoryId.name}}</p>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div class="ft">12 Likes</div>
        </button>
      </ion-card-content>

      <img *ngIf="feed.categoryId.name == 'Business'" (click)="detailsPage(feed)"
        src="https://api.taptap.org.uk/file/getImage?imageId={{feed.product.logo}}"
        class="feedImg">
      <ion-card-content *ngIf="feed.categoryId.name == 'Business'" (click)="detailsPage(feed)">
        <p><strong>Title:</strong>&nbsp;{{feed.product.name}}</p>
        <p><strong>Description:</strong>&nbsp;{{feed.product.address}} </p>
        <p><strong>Category:</strong> &nbsp;{{feed.categoryId.name}}</p>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div class="ft">12 Likes</div>
        </button>
      </ion-card-content>

      <img *ngIf="feed.categoryId.name == 'Verification'" (click)="detailsPage(feed)"
        src="https://api.taptap.org.uk/file/getImage?imageId={{feed.product.images[0]}}"
        class="feedImg">
      <ion-card-content *ngIf="feed.categoryId.name == 'Verification'" (click)="detailsPage(feed)">
        <p><strong>Title:</strong>&nbsp;{{feed.product.product}}</p>
        <p><strong>Description:</strong>&nbsp;{{feed.product.websitelink
        }} </p>
        <p><strong>Category:</strong> &nbsp;{{feed.categoryId.name}}</p>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div class="ft">12 Likes</div>
        </button>
      </ion-card-content>
      <!-- <ion-row>
  
        <ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div class="ft">12 Likes</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="heart"></ion-icon>
            <div class="faet">Favourite</div>
          </button>
        </ion-col>
        <ion-col align-self-center text-center>
          <ion-note>
            11h ago
          </ion-note>
        </ion-col>
      </ion-row> -->

    </ion-card>
  </div>

  <audio controls id="audio" style="display:none">
    <source src="assets/audio/inquisitiveness.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>


</ion-content>