<ion-header>
  <ion-navbar>
    <ion-title> <i class="fa fa-chevron-left" aria-hidden="true" (tap)="back()"></i> Notifications
    </ion-title>
  </ion-navbar>
</ion-header>
<div (tap)="clearNotification()" class="clear" *ngIf="notifications.length!=0">
  <button>clear all</button>
</div>
<ion-content id="notification_scroll">
  <!-- <div class="head">
    <div class="mdl">
      <i class="fa fa-chevron-left" aria-hidden="true" (tap)="back()"></i>

      <p>Notifications</p>
    </div>
  </div>

  <div (tap)="clearNotification()" class="clear" *ngIf="notifications.length!=0">
    <button>clear all</button>
  </div> -->


  <p class="nonoti" *ngIf="shownnotification.length==0">No Notification</p>

  <div *ngFor="let notification of shownnotification">
    <p *ngIf="notification.date" class="datePadding">{{notification.date}}</p>



    <div class="et">
      <ion-grid *ngIf="notification.type=='invitation'" [ngClass]={p0:true,seen:notification.seen}
        (tap)="eventdetail(notification.product,notification.categoryId,notification._id,notification.seen)">
        <ion-row>
          <ion-col col-2>

            <img class="imgStart" src="../../assets/images/Logo_after.png" item-start />

          </ion-col>
          <ion-col col-10 style="padding-left:1em">
            <p class="lorem">{{notification.product.name?notification.product.name:notification.product.event_title}}
              ({{notification.product.event_title?'Event':'Business'}})</p>
            <p class="sub">
              {{notification.product.address?notification.product.address:notification.product.location}},{{notification.product.event_title?notification.product.startTime.split("T")[0]:''}}
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid [ngClass]={p0:true,seen:notification.seen} *ngIf="notification.type=='lost'"
        (tap)="viewNotification(notification._id,notification.geo)">
        <ion-row>
          <ion-col col-2>

            <img class="imgStart" src="../../assets/images/lostitem.svg" item-start />

          </ion-col>
          <ion-col col-10 style="padding-left:1em">
            <p class="lorem">{{notification.title}}</p>
            <p class="sub">{{notification.description}}</p>

          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid [ngClass]={p0:true,seen:notification.seen} *ngIf="notification.type=='general'"
        (tap)="viewNotification(notification._id,notification.geo)">
        <ion-row>
          <ion-col col-2>
            <img class="imgStart" *ngIf="notification.title!='Device Lost'" src="../../assets/images/Logo_after.png"
              item-start />
            <img class="imgStart" *ngIf="notification.title=='Device Lost'" src="../../assets/images/lostitem.svg"
              item-start />
          </ion-col>
          <ion-col col-10 style="padding-left:1em">
            <p class="lorem">{{notification.title}}</p>
            <p class="sub">{{notification.description}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

  </div>

</ion-content>