page-notification {
    .head {
        height: 13vh;
        background: #6354cb;
        display: table;
        width: 100%;
        margin-bottom: 5px;
        p{
            // margin-right: 11em;
            font-size: 18px;
            color: #fff;
            display: inline-block;
            vertical-align: middle;

        }
        .mdl{
            vertical-align: middle;
            display: table-cell;
            padding: 0 18px;
        }   

        ion-icon.icon.icon-md,ion-icon.icon.icon-ios {
            margin-right: 10px;
            font-size: 26px;
            color: #fff;
            vertical-align: middle;
            margin-bottom: 0;
        }
    }
    .scroll-content {
        padding: 0 !important;
    }
        .toolbar-background {
        background-color: #f3f2f7;
        height: 243px;
      }
    .toolbar-content.toolbar-content-md,.toolbar-content.toolbar-content-ios {
        text-align: center;
        padding: 2em 0 1em 0;
    }
    .toolbar-md,.toolbar-ios {
        position: relative;
        padding: 0px;
    }
    a.helpimg {
        top: 1em;
        right: 0em;
        position: absolute;
        color: #fff;
    }
    button.mybutton.disable-hover.button.button-md.button-default.button-default-md,button.mybutton.disable-hover.button.button-ios.button-default.button-default-ios {
        background: transparent;
        box-shadow: none;
    }

    .mdl {
      vertical-align: middle;
      display: table-cell;
      padding: 0 18px;
    }

    ion-icon.icon.icon-md.ion-md-menu {
      margin-right: 7px;
      font-size: 26px;
      color: #fff;
      vertical-align: middle;
      margin-top: 12px;
      float: right;

    }

    ion-icon.icon.icon-md {
      margin-right: 10px;
      font-size: 26px;
      color: #fff;
      vertical-align: middle;
      margin-bottom: 0;
    }
  

  .scroll-content {
    padding: 0 !important;
  }

  .toolbar-background {
    background-color: #f3f2f7;
    height: 243px;
  }

  .toolbar-content.toolbar-content-md {
    text-align: center;
    padding: 2em 0 1em 0;
  }

  .toolbar-md {
    position: relative;
    padding: 0px;
  }

  a.helpimg {
    top: 1em;
    right: 0em;
    position: absolute;
    color: #fff;
  }

  button.mybutton.disable-hover.button.button-md.button-default.button-default-md {
    background: transparent;
    box-shadow: none;
  }

  .et {
    border-bottom: 1px solid #fff;
    padding: 0.3em;
    background: #fff;
  }

  p.sub {
    margin-top: 0px;
    color: #0000007d;
    margin-bottom: 0;
    font-size: 13px;
  }

  p.datePadding {
    text-align: center;
    font-size: 10px;
    color: gray;
    background-color: #f3f0f0d1;
    // background: red;
    padding: 4px 0;
  }

  img.imgStart {
    height: 41px;
    width: 41px;
    vertical-align: middle;
    float: left;
    margin: 5px 1.5em;
    border: 2px solid #4f4f4f;
    border-radius: 50%;
    padding: 2px;
    }
    .p0{
        padding: 0;
    }
    p.lorem {
        margin: 0;
        overflow: inherit;
        font-size: 17px;
        line-height: normal;
        text-overflow: inherit;
        color: #212121;
        margin-top: 2px;
    }
    .item-inner {
        border-bottom: 0px !important;
    }
    ion-item.et.item.item-block.item-md,ion-item.et.item.item-block.item-ios {
        border-bottom: 1px solid #f3f3f3;
    }
    .seen {
      opacity: 0.6;
    }
    p.nonoti {
      text-align: center;
      color: #222;
      margin-top: 40vh;
  }

  .clear {
    text-align: right;
    button{
      background: transparent;
      margin-right: 11px;
      border: 1px solid #222;
      border-radius: 4px;
      padding: 4px 17px;
      margin: 5px 10px;
      vertical-align: middle;
    }
}
}
