
.item-md.item-input.input-has-focus .item-inner {
    box-shadow: none;
}
button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
    color: #fff !important;
}
// ion-loading {
//     opacity: 0.2 !important;
//   }
  
  .ion-backdrop {
    opacity: 0.2 !important;
  }
  .anychart-credits {
    display: none;
}
button.share:active {
  background: #6454cb7a;
  color: #fff;
  border: 1px solid #b39be6;
}
button:active {
  background: #6454cb7a;
  color: #fff;
  border: 1px solid #b39be6;
}


// .loading-md .loading-wrapper {
//   opacity: 0 !important;
// }

// ion-loading {
//   opacity: 0.2 !important;
// }

.ion-backdrop {
  opacity: 0.2 !important;
}



i.fa.fa-chevron-left {
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  padding: 5px;
  // float: left;
  margin-left: 5px;
  // position: absolute;
  top: 5px;
  z-index: 999;

}


.back-button.show-back-button {
  display: none;
}

 
.alertDanger .alert-wrapper .alert-head h2 {
  font-size: 16px !important;
  line-height: 42px !important;
}
.alertDanger1 .alert-wrapper .alert-head h2 {
  font-size: 16px !important;
  line-height: 42px !important;
}

.mycss .alert-wrapper .alert-head h2{
  font-size: 16px;
  text-align: center;
  padding-top: 115px;
}

.mycss .alert-wrapper::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 56px;
  left: 0;
  right: 0;
  margin: auto;
  background: url(../assets/images/checked.svg);
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;

  }
  div#anychart-menu-wrapper {
    display: none !important;
}

ion-modal.show-page {
  @media (min-width: 300px) and (min-height: 500px) {
    ion-backdrop {
      visibility: visible;
    }
  }

  .modal-wrapper {
    position: absolute;
    overflow: hidden;
    max-width: 280px;
    border-radius: 2px;
    width: 80vw;
    height: 50vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
    background-color: #fafafa;
  }
}
#donut-example{
  min-height: 250px;
}
.reset {
  .alert-title {
      text-align: center !important;
  }

  .alert-message {
      text-align: center !important;
  }

  .alert-sub-title {
      text-align: center !important;
  }

  button {
      text-align: center !important;
    
  }
  .alert-button-group.alert-button-group-vertical{
    justify-content: center;
    flex-direction: initial !important;
  }

}

// for feed

ion-modal.feed-popup {
  @media (min-width: 300px) and (min-height: 500px) {
    ion-backdrop {
      visibility: visible;
    }
  }

  .modal-wrapper {
    position: absolute;
    overflow: hidden;
    max-width: 100%;
    border-radius: 2px;
    width: 100vw;
    height: 15vh;
    top: initial;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
    background-color: #fafafa;
  }
}