// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.item-md.item-input.input-has-focus .item-inner {
    box-shadow: none;
}
button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
    color: #fff !important;
}
ion-loading {
    opacity: 0.2 !important;
  }
  
  .ion-backdrop {
    opacity: 0.2 !important;
  }
  .anychart-credits {
    display: none;
}
button.share:active {
  background: #6454cb7a;
  color: #fff;
  border: 1px solid #b39be6;
}
button:active {
  background: #6454cb7a;
  color: #fff;
  border: 1px solid #b39be6;
}


.loading-md .loading-wrapper {
  opacity: 0 !important;
}

ion-loading {
  opacity: 0.2 !important;
}

.ion-backdrop {
  opacity: 0.2 !important;
}



i.fa.fa-chevron-left {
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  padding: 5px;
}