
.item-md.item-input.input-has-focus .item-inner {
    box-shadow: none;
}
button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
    color: #fff !important;
}
ion-loading {
    opacity: 0.2 !important;
  }
  
  .ion-backdrop {
    opacity: 0.2 !important;
  }
  .anychart-credits {
    display: none;
}
button.share:active {
  background: #6454cb7a;
  color: #fff;
  border: 1px solid #b39be6;
}
button:active {
  background: #6454cb7a;
  color: #fff;
  border: 1px solid #b39be6;
}


.loading-md .loading-wrapper {
  opacity: 0 !important;
}

ion-loading {
  opacity: 0.2 !important;
}

.ion-backdrop {
  opacity: 0.2 !important;
}



i.fa.fa-chevron-left {
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  padding: 5px;
  // float: left;
  margin-left: 5px;
  // position: absolute;
  top: 5px;
  z-index: 999;

}


.back-button.show-back-button {
  display: none;
}

 


