<!--
  Generated template for the MilagelistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>milagelist</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content >
  <!-- <div class="head">
    <div class="mdl">
      <p><span>
          <i class="fa fa-chevron-left" aria-hidden="true" (tap)="back()"></i>
        </span>Mileage  List</p>
    </div>

  </div> -->
  <!-- <p>
    Business
  </p>
  <div *ngIf="data.business">
    <div class="milageList" *ngFor="let list of data.business">
      <ion-card>
        <ion-card-content (tap)="createPdf()">
          <div>
            <p><strong>Title:</strong>{{list.title}}</p>
            <p><strong>Start Time:</strong>{{list.startTime}}</p>
            <p><strong>End Time:</strong>{{list.endTime}}</p>
            <p><strong>description:</strong>{{list.description}}</p>
          </div>

          <button (tap)="downloadPdf()">download</button>
        </ion-card-content>

      </ion-card>
    </div>
  </div>


  <p>personal</p>
  <div *ngIf="data.personal">
    <div class="milageList" *ngFor="let list of data.personal">
      <ion-card>
        <ion-card-content (tap)="createPdf()">
          <div>
            <p><strong>Title:</strong>{{list.title}}</p>
            <p><strong>Start Time:</strong>{{list.startTime}}</p>
            <p><strong>End Time:</strong>{{list.endTime}}</p>
            <p><strong>description:</strong>{{list.description}}</p>
          </div>

          <button (tap)="downloadPdf()">download</button>
        </ion-card-content>

      </ion-card>
    </div>
  </div> -->
  <!-- <div class="btn">
    <button ion-buttton (tap)="createPdf()"> Create (1)</button>

    <button ion-buttton (tap)="downloadPdf()"> Dowanload (2)</button>
  
  </div> -->
  
<div class="div" *ngIf="show">
  <img src="../../assets/images/6.gif" alt="">
  <p>please wait...</p>
</div>

  <!-- 
  <ion-list>
    <div *ngFor = "let list of milagelist">
        <ion-item>
            <ion-label>{{list.title}}</ion-label>
          </ion-item>
    <ion-item>
      <ion-label>{{list.startLocation}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{list.endLocation}}</ion-label>
    </ion-item>
   
    <ion-item>
      <ion-label>{{list.milage}}</ion-label>
    </ion-item>
  </div>
  </ion-list> -->

</ion-content>