page-devicededetail {
    .toolbar-background {
        background-color: #6354cb;
      }
    .blue{
        background: #6354cb;
        height: 11vh;
        position: relative;
        .pen {
            height: 13vh;
            width: 13vh;
            position: absolute;
            top: 30%;
            background: #fff;
            border-radius: 50%;
            padding: 2em;
            left: 0;
            right: 0;
            margin: auto;
        }
        .pen:after{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            box-shadow:0px 0px 40px 11px #b7a6a64d;
            border-radius: 50%;
            z-index: -9;
        }
    }
    .select-md {
        padding: 13px 8px 13px 16px;
        font-size: 14px;
        color: #5a5c61;
    }
    .scroll-content {
        padding: 0 !important;
        overflow: hidden;
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        background-image: none !important;
    }
    .header-ios::after, .tabs-ios[tabsPlacement="top"] > .tabbar::after, .footer-ios::before, .tabs-ios[tabsPlacement="bottom"] > .tabbar::before {
        background-image: none !important;
    }
    button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
        color: #fff;
    }
    button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
        color: #fff;
    }
    .button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
        color: #fff;
    }
    .button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
        color: #fff;
    }
    .toolbar-title.toolbar-title-md,.toolbar-title.toolbar-title-ios {
        color: #fff;
    }
    .cont {
        margin-top: 3vh;
        text-align: center;
        font-size: 18px;
        height: 56vh;
        overflow-y: scroll;
    }
    
    .container {
        margin: 0 2em;
    }
    .gap {
        height: 8vh;
    }
    .tog {
        margin: 0 1em;
    }
    svg#editButton {
        height: 15px;
        width: 15px;
        fill: #fff;
    }
    button.managebutton.disable-hover.button.button-md.button-default.button-default-md {
        position: absolute;
        right: 0;
        bottom: -11px;
        box-shadow: none;
        background: transparent;
    }
    button.managebutton.disable-hover.button.button-ios.button-default.button-default-ios {
        position: absolute;
        right: 0;
        bottom: -11px;
        box-shadow: none;
        background: transparent;
    }
    p.tapPen {
        color: #53565a;
        font-size: 13px;
        text-align: center;
        margin-top: 4em;
        span {
            background: #c5efed;
            margin: 0 7px;
            padding: 4px 7px 4px 7px;
            color: #4a9d50;
            font-size: 12px;
            border-radius: 4px;
        }
    }
    ion-input.input.input-md {
        color: #1f2127;
        font-size: 13px;
    }
    ion-input.input.input-ios {
        color: #1f2127;
        font-size: 13px;
    }
    ion-label {
        margin-left: 2px !important;
        font-size: 13px;
    }
    .item-inner {
        margin-left: 1em;
    }
    input.text-input.text-input-md,input.text-input.text-input-ios {
        margin-top: 3px;
    }
    .tog ion-list.list.list-md,.tog ion-list.list.list-ios {
        margin-bottom: 0;
    }
    ion-grid.saveGrid.grid {
        margin-top: 1em;
        margin-bottom: 4em;
        padding-right: 2em;
        padding-left: 1em;
    }
    button.previous.disable-hover.button.button-md.button-default.button-default-md ,button.previous.disable-hover.button.button-ios.button-default.button-default-ios {
        height: 46px;
        background: transparent;
        box-shadow: none;
        border: 1px solid #9e9e9e;
        border-radius: 5px;
        color: #9e9e9e;
    }
    svg#arropre {
        height: 17px;
        width: 17px;
        fill: #b3adad;
    }
    button.saveButton.disable-hover.button.button-md.button-default.button-default-md {
        background: transparent;
        color: #6255ca;
        border: 1px solid #6255ca;
        box-shadow: none;
        border-radius: 5px;
        width: 188px;
        margin-left: 1em;
        height: 46px;
        text-transform: capitalize;
    }
    button.saveButton.disable-hover.button.button-ios.button-default.button-default-ios {
        background: transparent;
        color: #6255ca;
        border: 1px solid #6255ca;
        box-shadow: none;
        border-radius: 5px;
        width: 188px;
        margin-left: 1em;
        height: 46px;
        text-transform: capitalize;
    }
    i.fa {
        color: #222;
        position: absolute;
        left: 0px;
        font-size: 20px;
    }
}
