

<ion-content>

  <!-- <p class="fav">Search</p> -->
  <!-- <div class="filter">
    <ion-item>
      <ion-input type="text" placeholder="search"></ion-input>
      <ion-icon item-end name="search"></ion-icon>
    </ion-item>


  </div> -->

  <div class="head">
      <div class="mdl">
          <!-- <img src="../../assets/images/Logo_after.png" class="tapLogo" item-left> -->
          <ion-icon ios="ios-book" md="md-book" class="animated 800s fadeInLeft delay-2s" item-left></ion-icon>
        <p class="animated 800s lightSpeedIn delay-2s">Search</p>
        <!-- <ion-icon ios="ios-menu" md="md-menu"></ion-icon> -->
        <form id="demo-2" class="animated 800s fadeInRight delay-2s">
          <input type="search" placeholder="Search">
        </form>
      </div>
    </div>


  <div class="arrowbutton">

    <ul class="list-inline sileUl">
      <!-- <li> <button type="submit" float-left ion-button color="primary" class="btnPrev" (click)="prev()">
          <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        </button>
      </li> -->
      <li>
        <ion-slides slidesPerView="5" #slides1>

          <ion-slide>
            <p class="count">January</p>

          </ion-slide>
          <ion-slide>
            <p class="count ">February</p>

          </ion-slide>
          <ion-slide>
            <p class="count">March</p>

          </ion-slide>
          <ion-slide>
            <p class="count">April</p>

          </ion-slide>
          <ion-slide>
            <p class="count">May</p>
          </ion-slide>
          <ion-slide>
            <p class="count">June</p>
          </ion-slide>
          <ion-slide>
            <p class="count">July</p>

          </ion-slide>
          <ion-slide>
            <p class="count">August</p>

          </ion-slide>
          <ion-slide>
            <p class="count">September</p>

          </ion-slide>
          <ion-slide>
            <p class="count">October</p>

          </ion-slide>
          <ion-slide>
            <p class="count">November</p>

          </ion-slide>
          <ion-slide>
            <p class="count">December</p>

          </ion-slide>
        </ion-slides>
      </li>
      <!-- <li> <button type="submit" float-right ion-button color="primary" class="btnNext" (click)="next()">
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
        </button>
      </li> -->
    </ul>
  </div>
  <!-- <div class="main">
        <ion-grid>
          <ion-row>
    
            <ion-col col-3>
              <div class="img">
                <img src="../../assets/images/modi.jpeg" alt="">
              </div>
            </ion-col>
            <ion-col col-9>
              <div >
                <p class="name">Brij Kishor</p>
                <ion-grid>
                    <ion-row>
              
                      <ion-col col-4>
                     
                          <p class="sm"> AI32G5</p>
                           <p class="num">UID</p>
                        </ion-col>
                        <ion-col col-4>
                       
                            <p class="sm"> <ion-icon name="star"></ion-icon>
                              1340</p>
                             <p class="num">Favourite</p>
                          </ion-col>
                          <ion-col col-4>
                              <p class="sm">2</p>  <p class="num">Devices</p>
                            </ion-col>
                        </ion-row>
                        </ion-grid>
              </div>
    
            </ion-col>
          </ion-row>
        </ion-grid>
    
      </div> -->
  <div class="paddi">
    <p><strong>6000</strong> searches in March 2019</p>

    <!-- <ion-toolbar> -->
    <ion-segment [(ngModel)]="page" color="dark">
      <ion-segment-button value="camera" (click)="selectedTab(0)">
        <!-- <ion-icon name="camera"></ion-icon> -->
        Merchant
      </ion-segment-button>
      <ion-segment-button value="bookmark" (click)="selectedTab(1)">
        <!-- <ion-icon name="bookmark"></ion-icon> -->
        Category
      </ion-segment-button>

    </ion-segment>
    <!-- </ion-toolbar> -->
  </div>

  <ion-slides #slider>
    <ion-slide>

      <!-- <div class="secondseg">
              <ion-segment [(ngModel)]="record" class="typeRecord">
                <ion-segment-button value="Personal" (click)="category()">
                  Category
                </ion-segment-button>
                <ion-segment-button value="Business" (click)="merchant()">
                  Merchants
                </ion-segment-button>
              </ion-segment>
            </div> -->

      <div class="scroll">

        <div style="padding:0 1em;" class="animated 800s zoomIn delay-2s" *ngFor="let item of tapItems">
          <p class="day">{{item.createdDate | date:'dd/MM/yyyy'}}</p>
          <ion-item (click)="gotodetails(item)">
            <!-- <ion-icon name="apps" class="merchantIcon"></ion-icon> -->
            <ion-icon ios="ios-bowtie" md="md-bowtie" item-left *ngIf='item.purpose=="Fashion"'></ion-icon>
            <ion-icon ios="ios-paper" md="md-paper" item-left *ngIf='item.purpose=="General"'></ion-icon>
            <ion-icon ios="ios-calendar" md="md-calendar" item-left *ngIf='item.purpose=="Event"'></ion-icon>
            <ion-icon ios="ios-briefcase" md="md-briefcase" item-left *ngIf='item.purpose=="Business"'></ion-icon>
            <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" item-left *ngIf='item.purpose=="Verification"'></ion-icon>
            <ion-icon ios="ios-walk" md="md-walk" item-left *ngIf='item.purpose=="Sports"'></ion-icon>
            <ion-icon ios="ios-cart" md="md-cart" item-left *ngIf='item.purpose=="Groceries"'></ion-icon>

          <ion-icon ios="ios-contact" md="md-contact" class="contact" *ngIf="item.purpose=='Contacts'"></ion-icon>
            {{item.purpose}}
            <ion-badge item-end>{{item.createdDate | date:'HH:mm'}} GMT</ion-badge>
          </ion-item>
          <!-- <hr> -->

        </div>
      </div>
      <!-- *ngIf="ifmerchant ==true" -->
      <!-- for merchant -->
      <!-- <div class="scroll">
        <div style="padding:0 1em;" *ngFor="let item of tapItems">
          <p class="day">{{item.createdDate | date:'dd/MM/yyyy'}}</p>
          <ion-item>
            <ion-icon name="apps" class="merchantIcon"></ion-icon>
            {{item.purpose}}
            <ion-badge item-end>{{item.createdDate | date:'HH:mm'}} GMT</ion-badge>
          </ion-item>
        </div>
      </div> -->
      <!-- for merchant -->

    </ion-slide>

  <ion-slide>
      <!-- for month -->
      <div class="scroll">
        <div  style="padding:0 1em;" *ngFor="let item of tapItems">
          <p class="day">{{item.createdDate | date:'dd/MM/yyyy'}}</p>
          <ion-item >
            <ion-icon name="apps" class="merchantIcon"></ion-icon>
            {{item.storeId.name}}
            <ion-badge item-end>{{item.createdDate | date:'HH:mm'}} GMT</ion-badge>
          </ion-item>
          <!-- <hr> -->
        </div>
      </div>
      <!-- for month -->

  </ion-slide>

  </ion-slides>




</ion-content>



<!--<ion-item>
          <ion-icon name="contact" class="merchantIcon"></ion-icon>
          Max Payment
          <ion-badge item-end>14:21 GMT</ion-badge>
        </ion-item>
        <hr>
        <ion-item>
          <ion-icon name="desktop" class="merchantIcon"></ion-icon>
          Amazon
          <ion-badge item-end>14:21 GMT</ion-badge>
        </ion-item>
        <p class="day">Mon Jan 2019</p>
        <ion-item>
          <ion-icon name="apps" class="merchantIcon"></ion-icon>
          General
          <ion-badge item-end>14:21 GMT</ion-badge>
        </ion-item>
        <hr>
        <ion-item>
          <ion-icon name="contact" class="merchantIcon"></ion-icon>
          Max Payment
          <ion-badge item-end>14:21 GMT</ion-badge>
        </ion-item>
        <hr>
        <ion-item>
          <ion-icon name="desktop" class="merchantIcon"></ion-icon>
          Amazon
          <ion-badge item-end>14:21 GMT</ion-badge>
        </ion-item> -->