page-feed3 {
  .head {

    height: 14vh;
    background: #6354cb;
    display: table;
    width: 100%;

    p {
      // margin-right: 11em;
      font-size: 18px;
      color: #fff;
      display: inline-block;
      vertical-align: middle;
      text-transform: capitalize;

    }

    .mdl {
      vertical-align: middle;
      display: table-cell;
      padding: 14px;

      ion-icon.icon.icon-md.ion-md-arrow-round-back,
      ion-icon.icon.icon-ios.ion-ios-arrow-round-back {
        color: gray !important;
      }
    }

    ion-icon.icon.icon-md,
    ion-icon.icon.icon-ios {
      margin-right: 10px;
      font-size: 26px;
      color: #222;
      vertical-align: middle;
    }
  }

    ion-slide.swiper-slide {
        align-items: baseline;
    }
    ion-card.discard img {
        height: 8vh;
        width: auto;
    }
    ion-segment.segment {
        height: 10vh;
    }
    .segment-md .segment-button {
        color: #6354cb;
    }
    .slideimage img{
        height: 40vh !important;
        width: auto;
        margin: 10px auto !important;
    }
    ion-card.discard.card {
        margin: 0 auto;
        height: 20vh;
        width: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    ion-segment-button.segment-button {
        border-width: 2px 2px 2px 2px !important;
        border-color: #6354cb;
        border-style: solid;
        border-bottom: 2px solid #6354cb !important;
    }
    ion-segment-button.segment-button.segment-activated {
        background: #6354cb;
        color: #fff;
        font-weight: 900;
        border-color: #6354cb !important;
    }
    .swiper-slide img {
  
        margin: 0 auto;
    }

.scroll {
        overflow-y: scroll;
        height:76vh;
    }
    .scroll-content {
        overflow-y: hidden;
    }
}
