page-recordmilage {
    .toolbar-background {
        background-color: #6354cb;
      }
    .toolbar-content.toolbar-content-md , .toolbar-content.toolbar-content-ios {
        text-align: center;
        padding: 2em 0;
    }
    .milageTitle {
        text-align: center;
        background: #6354cb;
    }
    .milageTitle p {
        color:#fff;
        font-size: 25px;
        margin-top: 10px;
        padding-bottom: 45px;
    }
    .scroll-content {
        padding: 0 !important;
    }
   
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        background-image: none !important;
    }
    .header-ios::after, .tabs-ios[tabsPlacement="top"] > .tabbar::after, .footer-ios::before, .tabs-ios[tabsPlacement="bottom"] > .tabbar::before {
        background-image: none !important;
    }
    button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
color:#6b708d;
    }
    button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
        color:#6b708d;
            }
    hr.margino {
        margin-right: 1em;
        margin-left: 1em;
    }
    img.record {
        height: 60px;
        width: 60px;
        text-align: center;
        margin: 0 auto;
    }
    a.helpimg {
        top: 1em;
        right: 0em;
        position: absolute;
        color: #fff;
    }
    button.mybutton.disable-hover.button.button-md.button-default.button-default-md , button.mybutton.disable-hover.button.button-ios.button-default.button-default-ios {
        background: transparent;
        box-shadow: none;
    }
    svg#editButton {
        height: 15px;
        width: 15px;
        fill:#fff;
    }
    
    p.type {
        text-align: center;
        color: #8d8686;
        font-size: 15px;
        font-weight: 500;
    }
    p.typea {
        margin-bottom: 8px;
        color: #8d8686;
        font-size: 13px;
        font-weight: 500;
    }
    ion-segment.typeRecord.segment.segment-md , ion-segment.typeRecord.segment.segment-ios {
        border-left: 1px solid #e1e1e6;
        border-top: 1px solid #e1e1e6;
        border-bottom: 0;
        border-radius: 5px;
    }
    ion-segment-button.segment-button {
        color: #6b7170 !important;
        border-right: 1px solid #a6a6a6;
    }
    .segment-md .segment-button , .segment-ios .segment-button{
        height: 4.8rem;
        line-height: 43px;
    }
    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        // border-bottom: 2px solid #624eb0;
        border-width: 1px;
        border-color: #624eb0;
        border-style: solid;
        border-radius: 4px;
        opacity: 1;
        color: #624eb0 !important;
    }
    .segment-ios .segment-button.activated, .segment-ios .segment-button.segment-activated {
        // border-bottom: 2px solid #624eb0;
        border-width: 1px;
        border-color: #624eb0;
        border-style: solid;
        border-radius: 4px;
        opacity: 1;
        color: #624eb0 !important;
    }
    .segment-md .segment-button.activated, page-recordmilage .segment-md .segment-button.segment-activated {
        border-bottom: 2px solid #624eb0;
        opacity: 1;
        border-color: #624eb0;
        color: #624eb0 !important;
        border-right: 1px solid #e1e1e6 !important;
    }
    .segment-ios .segment-button.activated, page-recordmilage .segment-ios .segment-button.segment-activated {
        border-bottom: 2px solid #624eb0;
        opacity: 1;
        border-color: #624eb0;
        color: #624eb0 !important;
        border-right: 1px solid #e1e1e6 !important;
    }
    p.typerecord {
        color: #0c0c0ccc;
        font-size: 14px;
        font-weight: 500;
        margin: 0 0 3em 0;
    }
    .recordContent {
        padding: 0 2em;
    }
    p.typerecordtime {
        color: #8b9594;
        font-size: 22px;
        font-weight: 500;
        margin: 0 0 0.5em 0;
    }
    ion-grid.kmhr.grid {
        padding: 0;
    }
    ion-grid.kmhr.grid ion-col.col {
        padding: 0;
    }
    p.mile {
        display: -webkit-box;
        margin: 0;
        line-height: 28px;
        color: grey;
    }
    ion-toggle.toggle.toggle-md.toggle-checked ,ion-toggle.toggle.toggle-ios.toggle-checked {
        padding-top: 8px;
    }
    span.km {
        color: #8e8dea;
        font-weight: 500;
    }
    button.start.disable-hover.button.button-md.button-default.button-default-md , button.start.disable-hover.button.button-ios.button-default.button-default-ios {
        background: blue;
        color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-transform: capitalize;
        width: 100%;
        height: 50px;
        border: 1px solid #222;
        border-radius: 4px;
    }
    button.stop.disable-hover.button.button-md.button-default.button-default-md , button.stop.disable-hover.button.button-ios.button-default.button-default-ios{
        background: red;
        color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-transform: capitalize;
        width: 100%;
        height: 50px;
        border: 1px solid #222;
        border-radius: 4px;
    }


    .switch {
        position: relative;
        display: inline-block;
        width: 90px;
        height: 34px;
        transform: scale(0.8);
        vertical-align: middle;
      }
      span.mile {
        color: #8b9594;
    }
      .switch input {display:none;}
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ca222290;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #5c67f8;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(55px);
        -ms-transform: translateX(55px);
        transform: translateX(55px);
      }
      
      /*------ ADDED CSS ---------*/
      .on
      {
        display: none;
      }
      
      .on, .off
      {
        color: white;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
       
        font-size: 13px;
        font-family: Verdana, sans-serif;
      }
      
      .on{
        left: 45%;
      }
      .off{
        left: 55%;
      }
      input:checked+ .slider .on
      {display: block;}
      
      input:checked + .slider .off
      {display: none;}
      
      /*--------- END --------*/
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;}
        button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
            display: none !important; 
        }
        i.fa.fa-chevron-left{
            float: left;
            margin-left: 3px
        }
}
