page-merchant {
    .toolbar-background {
        background-color: #6354cb;
      }
    button.mybutton.disable-hover.button.button-md.button-default.button-default-md {
        background: transparent;
        box-shadow: none;
    }
    svg#editButton {
        height: 15px;
        width: 15px;
        fill: #fff;
    }
    .toolbar-title.toolbar-title-md {
        color: #fff;
    }
    button.managebutton.disable-hover.button.button-md.button-default.button-default-md {
        position: absolute;
        right: 0;
        bottom: -11px;
        box-shadow: none;
        background: transparent;
    }
    button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
        color: #76798a;
    }
    ion-icon.icon.icon-md.ion-md-search {
        font-size: 28px;
        color: #5c6173;
    }
    p.day {
        text-align: center;
        position: relative;
        color: #a3a5b1;
    }
    p.day:before {
        content: "";
        position: absolute;
        height: 1px;
        border-top: 1px solid #e5e5e5;
        top: 7px;
        width: 84px;
        left: 6vw;
    }
    p.day:after {
        content: "";
        position: absolute;
        height: 1px;
        border-top: 1px solid #e5e5e5;
        top: 7px;
        width: 84px;
        right: 6vw;
    }
    ion-icon.merchantIcon.icon.icon-md.item-icon {
        margin: 0;
    }
    .scroll-content {
        padding: 0 !important;
    }
    .item-inner {
        border-bottom: 0 !important;
    }
    ion-badge.badge.badge-md {
        background: transparent;
        color: #9a9da6;
        font-weight: 400;
    }
    ion-icon.merchantIcon.icon.icon-md.item-icon {
        margin: 0;
        color: #b0b0e0;
        vertical-align: bottom;
        padding-right: 6px;
    }
    ion-icon.merchantIcon.icon.icon-md.ion-md-contact.item-icon {
        color: #9f90c6;
    }
    ion-icon.merchantIcon.icon.icon-md.ion-md-desktop.item-icon {
        color: #a0c2be;
    }
    input {
        outline: none;
    }
    input[type=search] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
    }
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button {
        display: none; 
    }
    
    
    input[type=search] {
        background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
        border: solid 1px #ccc;
        padding: 9px 10px 9px 32px;
        width: 55px;
        
        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        border-radius: 10em;
        
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
    }
    input[type=search]:focus {
        width: 130px;
        background-color: #fff;
        border-color: #66CC75;
        
        -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
        -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
        box-shadow: 0 0 5px rgba(109,207,246,.5);
    }
    
    
    input:-moz-placeholder {
        color: #999;
    }
    input::-webkit-input-placeholder {
        color: #999;
    }
    
    /* Demo 2 */
    #demo-2 input[type=search] {
        width: 15px;
        padding-left: 10px;
        color: transparent;
        cursor: pointer;
        margin-top: 0px;
    }
    #demo-2 input[type=search]:hover {
        background-color: #fff;
    }
    #demo-2 input[type=search]:focus {
        width: 130px;
        padding-left: 32px;
        color: #000;
        background-color: #fff;
        cursor: auto;
    }
    #demo-2 input:-moz-placeholder {
        color: transparent;
    }
    #demo-2 input::-webkit-input-placeholder {
        color: transparent;
    }
    form#demo-2 {
        float: right;
    }
}
