page-share {
    .head {
        height: 14vh;
        background: #6354cb;
        display: table;
        width: 100%;
        p{
            // margin-right: 11em;
            font-size: 18px !important;
            color: #fff;
            display: inline-block;
            vertical-align: middle;

        }
        .mdl{
            vertical-align: middle;
            display: table-cell;
            padding: 0 18px;
        }   

        ion-icon.icon.icon-md {
            margin-right: 10px;
            font-size: 26px;
            color: #222;
            vertical-align: middle;
            margin-bottom: 0;
        }
    }
    ion-icon.icon.icon-md.ion-md-share,ion-icon.icon.icon-ios.ion-ios-share {
        font-size: 19px;
        margin-top: 0px;
        // float: right;
    }
    .content {
        padding: 2em;
        // background:transparent;
    img {
        // border-radius: 50%;
        height: 80px;
        width: 80px;
        margin: 0 auto;
    }
        h2 {
            color: #d07a3f;
            font-size: 33px;
        }
        p.greeting {
            font-size: 15px;
            padding: 0 3em;
            color: #222;
        }
        p.shade {
            color: gray;
            font-size: 15px;
        }
        p.keep {
            color: gray;
            font-size: 15px;
            font-family: cursive;
        }
       .share{
           text-align: center;
        button{
            width: 70%;
            border: 1px solid #222;
            border-radius: 4px;
            color: #222;
            background: #fff;
            height: 40px;
            font-size: 15px;
    }
       }
        
   
}
.share button {
    line-height: 18px;
    margin-top: 2em;
}

svg#review {
    height: 38px;
    width: 38px;
    vertical-align: middle;
    fill: #d88039;
}

.scroll-content {
    padding: 0 !important;
}

}
